*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}


.button{
    display: flex;
    justify-content: center;
    border: none;
}
.button1{
    background-color: #4CAF50;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}